* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

/* layout */
.container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
}


li, a, button {
    font-family: "Monsterrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    /* color: black; */
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0px;
}

.header__logo {
    margin-right: auto;
    cursor: pointer;
}

.header__nav ul {
    list-style: none;
}

.header__nav li {
    display: inline-block;
    padding: 0px 20px;
}

.header__nav li a {
    transition: all 0.3s ease 0s;
}

.header__nav li a:hover {
    color: #0088a9;
}


/* articles heading */
.article__heading {
    margin-top: 4rem;
    font-weight: 400;
    
}

.article-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.13rem, calc(1.00rem + 0.22vw), 11.25rem);
    display: flex;
    flex-direction: column;
}

.article-list__date {
    font-size: var(--font-size-base);
    color: var(--gray);
    width: 260px;
    display: inline-block;
}

.article-ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 10px 0;
}


@media only screen and (min-width: 768px) {
    .article-ul li a {
        flex-direction: row;
        align-items: center;
    }
    .article-list__date {
        text-align: right;
    }
}

.article-ul li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
    border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
    filter: none;
}

.article-ul:hover li {
    filter: blur(3px);
}
.article-ul:hover li:hover {
    filter: none;
}

.article {
    white-space: pre-wrap;
}